header{
    background-color: white;
    margin-top: -1.3rem;
    width: 82rem;
    height: 5rem;
    position: fixed;
}

section{
    background: transparent;
    margin-top: 5rem;
    margin-left: 2rem;
}

article{
    background: transparent;
    margin-left: 2rem;
}

aside {
    background: transparent;
    margin-top: 5rem;
    margin-right: 2rem;
}

footer{
    background: transparent;
}

.grid-item1 { 
    grid-area: header; 
}
.grid-item2 { 
    height: 50rem;
    grid-area: section; 
}
.grid-item3 {
    height: 23rem; 
    grid-area: article; 
}
.grid-item4 { 
    grid-area: aside; 
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
}


.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'section aside'
    'article aside';
  background-color: rgb(247, 247, 248);
  padding: 10px;
  }

  .icons {
      display: inline;
  }

  .menu-icon {
    display: inline;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 1.5rem;
    margin-right: 1.3rem;
    margin-left: 2rem;
    margin-bottom: -0.6rem;
    fill: #606060;
    cursor: pointer;
  }

  .youtube-logo {
    display: inline;
    width: 5.5rem;
    height: 1.6rem;
    margin-top: 1.5rem;
    margin-right: 10rem;
    margin-bottom: -0.6rem;
    cursor: pointer;
  }

  .search-bar {
    display: inline-block;
    align: top;
      width: 33rem;
      height: 2rem;
      margin-top: -1rem;
      margin-right: -0.4em;
      position: relative;
      flex-basis: 1e-9px;
      margin-bottom: 50px;
  }

  .search-btn {
    display: inline-block;
    width: 1.3rem;
    height: 1.4rem;
    margin-top: -0.5rem;
    margin-left: 0.2rem;
    margin-bottom: -0.5rem;
    fill: #606060;
    
  }

  .srch-btn {
    width: 4rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-right: 10rem;
    margin-bottom: -10rem;
    margin-left: -0.3rem;
    background-color: solid white;
    cursor: pointer;
  }

  .upload-btn {
    display: inline;
    width: 1.7rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -0.6rem;
    fill: #606060;
    cursor: pointer;
  }

  .apps-btn {
    display: inline;
    width: 1.7rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -0.6rem;
    fill: #606060;
    cursor: pointer;
  }

  .alert-btn {
      display: inline;
    width: 1.7rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -0.6rem;
    fill: #606060;
    cursor: pointer;
  }

  .profile-pic{
    display: inline;
    width: 2.2rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-bottom: -0.6rem;
    border-radius: 50%;
    cursor: pointer;
  }

  header div {
      display: inline-block;
  }

  .toggle-btn {
      align-content: right;
      height: 2rem;
      width: 8rem;
      margin-top: 1rem;
      float: right;
      cursor: pointer;
  }

  .autoplay {
      margin-bottom: 3.57rem;
  }

  .thumbnail-img {
      margin-left: 0.2rem;
      cursor: pointer;
  }

  
  .thumbnail-title {
      margin-left: 0.7rem;
      margin-bottom: 1.7rem;
      cursor: pointer;
  }

  section div {
    display: inline-block;
}


article div {
    display: inline-block;
}

.main-video {
    height: 25rem;
    width: 43.5rem;
}

.like-btn {
    margin-right: 0.5rem;
    margin-left: 10.5rem;
    margin-bottom: -1.73rem;
    width: 4rem;
    height: 2.5rem;
    cursor: pointer;
    
}

.dislike-btn {
    margin-right: 0.5rem;
    margin-bottom: -1.53rem;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}

.share-btn {
    margin-right: 0.5rem;
    margin-bottom: -1.53rem;
    width: 5.2rem;
    height: 2.2rem;
    cursor: pointer;
}

.save-btn {
    margin-right: 0.5rem;
    margin-bottom: -1.53rem;
    width: 4.2rem;
    height: 2rem;
    cursor: pointer;
}

.three-dots {
    margin-right: 0.5rem;
    margin-bottom: -1.53rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.avatar-img {
    cursor: pointer;
}

.sub-btn {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}

.description {
    margin-left: 4rem;
    font-size: 0.9rem;
}

.show-btn {
    border: solid transparent;
    background: transparent;
    margin-left: 3.8rem;
    cursor: pointer;
}

.srch-icon {
    margin-bottom: 2rem;
}

.comment-btn {
    margin-top: 0.5rem;
    float: right;
    border: solid transparent;
    color: white;
    cursor: pointer;
}

#comment {
    width: 45rem;
    height: 2rem;
    float: right;
    border-top: solid transparent;
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom-color: solid #606060;;
    background: transparent;
    margin-top: 1rem;
    
}

.comment-pic {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.user-comment {
    margin-top: 3rem;
    cursor: pointer;
}

.cmn-btn {
    width: 6.5rem;
    height: 2rem;
    margin-right: 1rem;
    border: solid transparent;
    background:#606060;
    cursor: pointer;
}

p b {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

small {
    background: rgb(247, 247, 248);
    font-size: 0.8rem;
    color:#606060;;
}

.sort-btn {
    margin-left: 2rem;
    margin-bottom: -1rem;
    cursor: pointer;
}





  

  

